.read-container{
  // background-color: orangered;
  overflow: scroll;
  height: 80vh;
 img{
   width: 60px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #ffffff;
 }
  .head{
    height: 50px;
    h1{
      color: #ffffff;
      line-height: 50px;
    }
  }
  .text{

    min-height: 250px;
    p{
      padding: 5px 0px;
    }
  }
}
