<div class="menu-container sticky-header">
  <mat-toolbar class="container">
    <span matRipple class="brand">
      <a href="#">Graceland</a>
    </span>
    <span class="space-bar"></span>
    <span matRipple class="menu-item">
      <a href="#about">About</a>
    </span>
    <span matRipple class="menu-item">
      <a href="#practice">Practice</a>
    </span>
    <span matRipple class="menu-item">
      <a href="#contact">Contact</a>
    </span>
  </mat-toolbar>
</div>
<router-outlet></router-outlet>

<div class="footer-section">
    <div class="footer container">
      <p>&copy; Copyright 2019. Allrights reserved. Graceland Solicitors Ltd </p>
      <p>T/A Graceland Solicitors | Company Number 9516021</p>
      <a matTooltip="Call the Developer on 07853292983" href="https://miscotech.co.uk" target="blank">Powered by MISCOTECH</a>
    </div>
</div>

<div (click)="goToto()" class="scroll-up" matRipple [matRippleColor]="rippleColor">
  <mat-icon>keyboard_arrow_up</mat-icon>
    <!-- <button (click)="goToto()">gotop</button> -->
</div>