<div class="menu-container sticky-header">
  <mat-toolbar class="container">
    <span matRipple class="brand">
      <!-- <a href="#">Graceland</a> -->
      <a href="#">
        <b>Graceland</b>
        <small>solicitors</small>
      </a>
    </span>
    <!-- <span class="space-bar"></span> -->
    <span (click)="showHours()" class="opHours">
     <b>Open</b> <mat-icon>timer</mat-icon> <p class="our-time">Mon-Fri 08:00-18:00 Sat 10:00-16:00</p>
    </span>
    <span class="space-bar"></span>
    <a href="#about" matRipple class="menu-item">
      About Us
    </a>
    <a href="#practice" matRipple class="menu-item">
      Our Practice
    </a>
    <a href="#our-culture" matRipple class="menu-item">
      Our Culture
    </a>
    <a href="#get-in-touch" matRipple class="menu-item">
      Contact Us
    </a>
  </mat-toolbar>
</div>
<!-- Mobile Navigation -->
<div class="mobile-menu-container sticky-header">
    <mat-toolbar class="container">
      <span matRipple class="brand">
        <a href="#">
          <b>Graceland</b>
          <small>solicitors</small>
        </a>
      </span>
      <!-- <span class="space-bar"></span> -->
      <!-- <span class="opHours">
       <b>Hours</b> <mat-icon>timer</mat-icon> <p>Mon-Fri 08:00-18:00 Sat 10:00-16:00</p>
      </span> -->
      <span class="space-bar"></span>
      <!-- <span matRipple class="menu-item">
        <a href="#about">A</a>
      </span>
      <span matRipple class="menu-item">
        <a href="#practice">P</a>
      </span>
      <span matRipple class="menu-item">
        <a href="#get-in-touch">C</a>
      </span> -->
      <span matRipple class="menu-item">
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>menu</mat-icon>
        </button>
      </span>
      
    </mat-toolbar>
  </div>

  <mat-menu #menu="matMenu">
    <a href="#about" mat-menu-item>
      <mat-icon>business</mat-icon>
      <span>About Us</span>
    </a>
    <a href="#practice" mat-menu-item>
      <mat-icon>settings</mat-icon>
      <span>Our Practice</span>
    </a>
    <a href="#our-culture" mat-menu-item>
      <mat-icon>timeline</mat-icon>
      <span>Our Culture</span>
    </a>
    <a href="#get-in-touch" mat-menu-item>
      <mat-icon>contacts</mat-icon>
      <span>Contact Us</span>
    </a>
  </mat-menu>
<router-outlet></router-outlet>

<div class="footer-section">
    <div class="footer container">
      <h1>Graceland Solicitors Ltd</h1>
      <p>&copy; Copyright 2019 Allrights reserved </p>
      <p>T/A Graceland Solicitors | Company Number 9516021</p>
      <p>Authorised & Regulated by SRA.</p>
      <p>SRA Reg 626100 & 627120</p>
      <a matTooltip="Call the Developer on 07853292983" href="https://miscotech.co.uk" target="blank">Powered by MISCOTECH</a>
    </div>
</div>

<div (click)="goToto()" class="scroll-up" matRipple>
  <mat-icon>keyboard_arrow_up</mat-icon>
    <!-- <button (click)="goToto()">gotop</button> -->
</div>