<section class="privacy container-fluid">
    <div class="terms-header">
        <h1 class="text-head">Privacy and Transparency Notice</h1>
        <!-- <p>
            Normally, we shall request you during the course of your case to telephone to arrange a mutually convenient appointment, as and when necessary. However, if you need to see the fee earner who is responsible for your work or any other member of the professional staff because of some special development in your case, you should first telephone our offices to arrange an appointment. Appointments will usually between 10.30 am to 1.00 pm and 2.30 pm to 5.00 pm. If there is an emergency and you need to any other member of professional staff outside these hours, please telephone to explain the nature of the emergency and we will endeavour to arrange a special appointment for you. However, if you attend our offices without an appointment, we will not be able to guarantee that you will be seen. 
            Graceland Solicitors Ltd are committed to equality and diversity in all aspects of our work. We have an Equality and Diversity Policy, which states our values, commitments and aims. A copy is available on request. We would be happy to hear if you have any comments on our policy or our performance in line with it.
            Graceland Solicitors Ltd are committed to equality and diversity in all aspects of our work. We have an Equality and Diversity Policy, which states our values, commitments and aims. A copy is available on request. We would be happy to hear if you have any comments on our policy or our performance in line with it.
            Graceland Solicitors Ltd are committed to equality and diversity in all aspects of our work. We have an Equality and Diversity Policy, which states our values, commitments and aims. A copy is available on request. We would be happy to hear if you have any comments on our policy or our performance in line with it.
        </p> -->
    </div>
    <div class="privacy-body container">
        <div class="breadcromb">
            <a routerLink="/terms_of_business" class="links"> <mat-icon>keyboard_arrow_left</mat-icon> <p>Terms of business</p></a>
            <div class="space-emt"></div>
            <!-- <a routerLink="/privacy" class="links"><p>Next</p> <mat-icon>keyboard_arrow_right</mat-icon></a> -->
        </div>

        <div class="content">
            <p> <b>Data Controller / Data Protection manager –</b> Adolph Okoro </p>
            <ul>
                <p> <b>Purposes of Processing -</b> Your data will be processed in order to:</p>
                <li>market Graceland Solicitors services to you</li>
                <li>provide services under contract to you and others</li>
                <li>comply with regulatory and other legal obligations; and</li>
                <li>protect Graceland Solicitors against potential claims.</li>
            </ul>
            <p>
                    <b>Legal Basis -</b> Your data will be processed on the basis that Graceland Solicitors 
                    has a legitimate interest inbeing able to achieve the aims of processing set out 
                    above. Where special category data isprovided, the provider of the data warrants 
                    that they consent to Graceland Solicitors processing that data orthat they 
                    have obtained written consent from the data subject.
                    
            </p>
            <p>
                    <b>Personal Data Held -</b>As a minimum, Graceland Solicitors is required to positively 
                    identify its clients. Thisalso includes positively identifying a director in the case of a corporate client. In addition,Graceland Solicitors holds whatever information is 
                    provided to it by its clients and others. This will rarely include special category 
                    data.
                    
            </p>
            <p>
                    <b>Failure to Provide Data –</b> If you fail to provide Graceland Solicitors with the data 
                    required you will not receiveservices or marketing.
                    
            </p>
            <p>
                    <b>Data Sources - </b> Graceland Solicitors obtains most personal data from its clients 
                    and those who haveindicated that they have an interest in Graceland Solicitors 
                    services. Graceland Solicitors also obtains some personaldata from other 
                    correspondents. Graceland Solicitors also collects some data from publicly available sources (e.g. Companies House).
                    
            </p>
            <p>
                    <b>Recipients -</b> Any data provided by a client is treated as confidential to that client and will only be
                    shared with others in so far as this is necessary in order to provide the services 
                    contracted for bythe client, to comply with regulatory and other legal obligations 
                    and to protect Graceland Solicitors against apotential claim. In order to provide 
                    its services, Graceland Solicitors relies on the services of certain dataprocessors.   
                    These include secure cloud storage for files and emails. In each case, Graceland Solicitors ensures that data is processed in compliance with this policy.
                    
            </p>
            <p>
                    <b>Third Countries and Safeguards -</b> Other than where required in order to provide services asrequired in individual 
                    client matters, data is rarely sent to third countries. Where it is, the relevant devices are password protected and equipped with tracking and remote wipe 
                    software. Thedevices are personally accompanied.
                    
            </p>
            <p>
                    <b>Retention Period -</b> Data is held for six years from the end of the relevant matter or for six years
                    where not associated with a particular matter.
                    
            </p>
            <ul>
                <p>
                    <b>Data Subject’s Rights –</b>  Where relevant, you have the right (subject to client confidentiality) to:
                </p>
                <li>Right to Erasure (Right to be Forgotten)</li>
                <li>Right of access by the Data Subject</li>
                <li>Right to rectification</li>
                <li>Right to Restriction of Processing</li>
                <li>Right to Data Portability</li>
                <li>Right to Object</li>
                <li>withdraw consent to the processing of your data</li>
                <li>
                    complain to a supervisory authority regarding the processing of your data
                        (https://ico.org.uk/); and
                </li>
                <li>
                    obtain a copy of the data held on you and to correction of any errors in 
                        that data.
                </li>

            </ul>
            <p> <b>Automated Decision Making – </b> None</p>
        </div>
        <div class="breadcromb">
            <a routerLink="/terms_of_business" class="links"> <mat-icon>keyboard_arrow_left</mat-icon> <p>Terms of business</p></a>
            <div class="space-emt"></div>
            <!-- <a routerLink="/privacy" class="links"><p>Next</p> <mat-icon>keyboard_arrow_right</mat-icon></a> -->
        </div>
    </div>
</section>
