<div class="header-section">
    <div class="header">
        <img class="headImage" src="assets/images/grace1.jpeg" alt="">
            <!-- style="background-image: url('assets/images/grace1.jpeg'); width: 100%;" -->
        <div class="inner-header">
            <div class="jumbo-text">
                <div class="text-wrapper">
                    <div class="main-text">
                        <h1>Affordable Legal Cost</h1>
                        <h3>Putting Your interest in the fore</h3>
                        <h3>Front of our business</h3>
                    </div>
                    <div class="main-text">
                        <h1>Expert Legal representation</h1>
                        <h3>Experience you can trust for your</h3>
                        <h3>business and personal affairs</h3>
                    </div>
                </div>
                <button color="primary" (click)="getIntouch()" mat-raised-button>Get In Touch</button>
            </div>
            <div class="float-image">
                <img src="assets/images/top-photo.jpg" alt="">
            </div>
        </div>
        <div class="pointer-container">
            <mat-icon id="pointer" (click)="pointerDown()" color="primary">keyboard_arrow_down</mat-icon>
        </div>
    </div>
</div>
<!-- <button (click)="clearInt()">clearInter</button> -->

<section class="about-section container-fluid" id="about">
    <div class="about container">
        <div class="about-image">
            <div [@ContainerRaduis]="imgState? 'in': 'out'" class="image">
                <img [@transformImage]="imgState? 'in': 'out'" id="dirImg" src="assets/images/okoro.png" alt="">
                <div class="pname">
                    <h1>Adolph Okoro (<small>Director</small>) </h1>
                    <p>BSc MSC PhD LLB (Hons) BL</p>
                    <!-- <p>Director</p> -->
                </div>
            </div>
            <div [@bgColor]="imgState? 'in' : 'out'" class="box-shift"></div>
        </div>
        <div class="about-text">
            <h1>Welcome to Graceland</h1>
            <p>
                Established since 2006, Graceland solicitors provide a wide range of Legal Services to new and existing clients.
                The key to our success is our honest, practical and top quality legal services delivered through our strong and competent team of legal advisors.
            </p>
            <p>
                Our passion for people is at the heart of everything we do. It’s the engine that keeps us ticking and inspires us to do our best. We’re not satisfied unless we’re making a real difference to people’s lives, and we’ll keep working hard to ensure we get the best outcome possible for our clients.
            </p>
            <p>
                Graceland Solicitors has Legal Aid franchise in Crime, Family (care proceedings) and Housing matters.
            </p>
            <div class="about-button">
                <button color="primary" matTooltip="Click To See More" matTooltipPosition="above" mat-raised-button (click)="seeMore('culture')">Read More</button>
                <button color="primary" matTooltip="Click To View Our Team" matTooltipPosition="above" mat-raised-button (click)="seeMore('team')">Meet Our Team</button>
            </div>
            <div class="text-fade">
                <p>
                    We understand that we are part of key moments in your life, whether these are connected to a company acquisition or sale, a change in your relationships, a marriage or divorce, Immigration issues, your expansion into a new area, or the purchase of a new home.
                </p>

            </div>
        </div>
    </div>
</section>

<section id="practice" class="practice-section container-fluid">
    <!-- <div class="legal-advise-container">
        <h1>Legal Advise</h1>
    </div> -->
    <div class="practice container">
        <div class="title">
            <h1>Area of Practice</h1>
        </div>
        <div class="top-practice">
            <div class="service">
                <!-- <mat-icon>people</mat-icon> -->
                <img src="assets/icons/immigration.png" alt="">
                <h1>Immigration</h1>
                <p>
                    Our Immigration Solicitors are a team of award winning, specialist solicitors, highly experienced in all areas of immigration law. As a fully qualified and accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.
                </p>
            </div>
            <div class="service">
                <!-- <mat-icon>people</mat-icon> -->
                <img src="assets/icons/family.png" alt="">
                <h1>Family/Divorce</h1>
                <p>
                    When a relationship breaks down, emotions can run high and disputes often spiral out of control. When you need to move forward, we’re here to help. We’re one of the UK’s biggest and most experienced family law teams, and can advise on issues affecting every kind of family – including divorce, matters involving children and wealth protection.
                </p>
            </div>
            <div class="service">
                <!-- <mat-icon>people</mat-icon> -->
                <img src="assets/icons/cuff.png" alt="">
                <h1>Crime</h1>
                <p>
                    We are one of the top law firm that provides a premium service for senior professionals, high net worth individuals and their families.  
                    We assist clients and get fair results from Arrest, Police Station, and through the courts system.
                </p>
            </div>
        </div>
        <button (click)="getMoreServices()" class="mobile-only" color="accent" mat-raised-button>more services</button>
        <div class="lower-practice">
            <div class="other-practice-info">
                <!-- <mat-icon>clear</mat-icon> -->
                <fa-icon [icon]="['fab', 'affiliatetheme']"></fa-icon>
                <h1>Area of Practice</h1>
                <!-- <mat-divider></mat-divider> -->
                <p>
                    Graceland Solicitors is authorised and regulated by the Solicitors Regulation Authority, ensuring that we meet high standards and follow the correct professional principles and code of conduct.
                </p>
                <div style="background-image: url('assets/icons/law.png')" class="law-balance">
                    <h3>We Can Represent you</h3>
                </div>
            </div>
            <div class="other-service">
                <div class="service1">
                    <img src="assets/images/apartment.jpg" alt="">
                    <h1>Housing</h1>
                    <p>
                        Moving home is exciting, but it can be stressful. That's why at Graceland Solicitors we work hard to ensure that the legal side of your home move is smooth and stress-free.
                    </p>
                </div>
                <div class="service2">
                    <img src="assets/images/job-center-service.png" alt="">
                    <h1>Benefit</h1>
                    <p>
                        Graceland Solicitors has a long and proud background of social justice, protecting and exercising the rights of the unemployed, the disabled, those on low incomes or those who can no longer work due to illness or injury.
                    </p>
                    
                </div>
            </div>
            <div class="other-service">
                <div class="service1">
                    <img src="assets/images/driving-service.png" alt="">
                    <h1>Traffic Offence</h1>
                    <p>
                       Many people tend to represent themselves in their traffic legal matter. You may not know your rights and the legal language of the court system. If you are facing a substantial fine, increased insurance premiums, or the possibility of losing your driving privileges you should consider contacting an our lawyers for a consultation regarding your case.
                    </p>
                    
                </div>
                <div class="service2">
                    <img src="assets/images/employ-service.png" alt="">
                    <h1>Employment</h1>
                    <p>
                        Whether you’re having a few problems at work and want some advice, feel that you’ve been treated unfairly, are facing changes to your working conditions or are facing the end of your employment – we’re here for you.
                    </p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="our-culture" class="society-container container-fluid">
    <div class="accreditation container">
        <div class="logos">
            <img src="assets/images/family-logo.GIF" alt="">
        </div>
        <div class="logos">
            <img src="assets/images/lexcel-logo.png" alt="">
        </div>
        <div class="logos">
            <img src="assets/images/cds.gif" alt="">
        </div>
        <div class="logos">
            <img src="assets/images/ADOLPHOKORO.jpg" alt="">
        </div>
        <div class="logos">
            <img src="assets/images/community-legal-service-logo-png-transparent.png" alt="">
        </div>
        <div class="logos">
            <img src="assets/images/ukas-product.jpg" alt="">
        </div>
    </div>
</section>

<section  class="our-culture-section container-fluid">
    <div class="our-culture container">
        <div class="principal-image">
            <div class="image">
                <img src="assets/images/lynn-okoro.gif" alt="">
            </div>
            <div class="box-shift"></div>
            <div class="social-culture">
                <fa-icon (click)="socialMediaLinks('facebook')" [icon]="['fab', 'facebook']"></fa-icon>
                <fa-icon (click)="socialMediaLinks('twitter')" [icon]="['fab', 'twitter']"></fa-icon>
                <fa-icon (click)="socialMediaLinks('linkedin')" [icon]="['fab', 'linkedin']"></fa-icon>
            </div>
        </div>
        <div class="principal-comment">
            <h1>Our Culture</h1>
            <mat-divider></mat-divider>
            <p>
                We understand that we are part of key moments in your life, whether these are connected to a company acquisition or sale, a change in your relationships, a marriage or divorce, Immigration issues, your expansion into a new area, or the purchase of a new home.
            </p>
            <button matTooltip="Click To View Our Team" matTooltipPosition="above" mat-stroked-button (click)="seeMore('team')">Meet Our Team</button>
            <div class="principal-position">
                <h3>Lynn Okoro</h3>
                <h4>Director</h4>
            </div>


        </div>
    </div>
</section>
<section class="our-team container-fluid" id="our_team">
    <div class="team container">
        <h1 class="head">Meet Our Team</h1>
        <div class="team-group">
            <div class="group">
                <div class="member">
                    <img src="assets/images/kk.png" alt="">
                    <div class="title">
                        <h1>Kennedy Okoroha</h1>
                        <mat-divider></mat-divider>
                        <p>Case Worker</p>
                    </div>
                </div>
                <div class="empty-member"></div>
                <div class="member">
                    <img src="assets/images/godwill.png" alt="">
                    <div class="title">
                        <h1>Godwill Agbakwue</h1>
                        <mat-divider></mat-divider>
                        <p>Solicitor</p>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="center-photo">
                    <img src="assets/images/okoro.png" alt="">
                    <div class="title">
                        <h1>Adolph Okoro</h1>
                        <mat-divider></mat-divider> 
                        <p>BSc MSC PhD LLB (Hons) BL</p>
                        <p>Director</p>
                    </div>
                </div>
            </div>
            <div class="group">
                <div class="member">
                    <img src="assets/images/lynn-okoro.gif" alt="">
                    <div class="title">
                        <h1>Lynn Okoro</h1>
                        <mat-divider></mat-divider>
                        <p>Director</p>
                    </div>
                </div>
                <div class="empty-member"></div>
                <div class="member">
                    <img src="assets/images/lloyd.png" alt="">
                    <div class="title">
                        <h1>Lloyd McDonald</h1>
                        <mat-divider></mat-divider>
                        <p>Case Worker</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="direction-section container-fluid" id="get-in-touch">
        <mat-tab-group mat-align-tabs="center" animationDuration="1000ms" [selectedIndex]="selectedIndex">
            <mat-tab label="Lewisham Office On Google Map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.127279347244!2d-0.0171022485017891!3d51.455819522194!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876026c4b99b187%3A0x952030d81e4b1743!2sLewisham+High+St%2C+Lewisham%2C+London+SE13+6NL!5e0!3m2!1sen!2suk!4v1562588599500!5m2!1sen!2suk" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </mat-tab>
            <mat-tab label="Woolwich Office On Google Map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2484.2145492135564!2d0.06735185149916983!3d51.49093021962809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47d8a8ea656b1ae5%3A0xf43be9d897edde09!2sBeresford+St%2C+Thamesmead+West%2C+London+SE18+6AY!5e0!3m2!1sen!2suk!4v1562589476293!5m2!1sen!2suk" width="100%" height="500" frameborder="0" style="border:0" allowfullscreen></iframe>
            </mat-tab>
            <mat-tab label="Get In Touch With Us">
                <div class="contact-form">
                    <div class="contact-form-inner container">
                        <h1>Get in touch</h1>
                        <form [formGroup]="formModel" (ngSubmit)="sendContact(formModel.value)">
                            <p class="form-field">
                                <mat-form-field appearance="outline">
                                    <mat-label>Name</mat-label>
                                    <input formControlName="name" matInput placeholder="Please enter your name">
                                    <mat-icon matSuffix>person</mat-icon>
                                    <!-- <p *ngIf="name.errors">Name is required</p> -->
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                                <mat-form-field appearance="outline">
                                    <mat-label>Email</mat-label>
                                    <input formControlName="email" type="email" matInput placeholder="Please enter your email">
                                    <mat-icon matSuffix>email</mat-icon>
                                    <!-- <mat-hint>Hint</mat-hint> -->
                                </mat-form-field>
                            </p>
                            <p class="text-message">
                                <mat-form-field appearance="outline">
                                    <mat-label>Message</mat-label>
                                    <textarea formControlName="message" matInput placeholder="Leave your message"></textarea>
                                    <mat-icon matSuffix>message</mat-icon>
                                </mat-form-field>
                            </p>
                            <button mat-stroked-button type="submit">Send</button>
                        </form>
                    </div>
                </div>
            </mat-tab>
        </mat-tab-group>
    
</section>
<section id="contact" class="contact-section container-fluid">
    <div class="contact container">
        <div class="lewisham">
            <h1>Lewisham Office</h1>
            <mat-divider></mat-divider>
            <h5>315 Lewisham High Street</h5>
            <h5>London</h5>
            <h5>SE13 6NL</h5>
            <div matTooltip="Call for any enquiry" matTooltipPosition="above" class="number">
                <mat-icon>call_end</mat-icon>
                <h5>+44  20 8314 5770</h5>
            </div>
            <div matTooltip="Send us fax" class="number">
                <mat-icon>file_copy</mat-icon>
                <h5>+44 20 8314 5771</h5>
            </div>
            
            <h5>DX: 56605-Lewisham</h5>
            <div class="email">
                <mat-icon>email</mat-icon> 
                <p>admin@gracelandsolicitors.co.uk</p>
            </div>
           
        </div>
        <div class="woolwich">
            <h1>Woolwich Office</h1>
            <mat-divider></mat-divider>
            <h5>15 Beresford Square</h5>
            <h5>London</h5>
            <h5>SE18 6AY</h5>
            <div matTooltip="Call for any enquiry" matTooltipPosition="above" class="number">
                <mat-icon>call_end</mat-icon>
                <h5>+44 20 8836 9350</h5>
            </div>
            <div matTooltip="Send us fax" class="number">
                <mat-icon>file_copy</mat-icon>
                <h5>+44 20 8836 9351</h5>
            </div>
            <div matTooltip="Call out of hour phone" class="number">
                <mat-icon>mobile_friendly</mat-icon>
                <h5>+44 796 1052 026</h5>
            </div>
            <!-- <h5><mat-icon>call_end</mat-icon> : +44  20 8836 9350</h5>
            <h5><mat-icon>file_copy</mat-icon> : +44 20 8836 9351</h5>
            <h5><mat-icon>mobile_friendly</mat-icon> : +44 796 1052 026</h5> -->
            <!-- <p>Email: admin@gracelandsolicitors.co.uk</p> -->
        </div>
        <div class="social-media">
            <h1>Let's Connect</h1>
            <mat-divider></mat-divider>
            <div class="social">
                <div (click)="socialMediaLinks('facebook')" class="facebook" matTooltip="Like us on facebook" matTooltipPosition="before">
                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    <h2>Facebook</h2>
                </div>
                <div (click)="socialMediaLinks('twitter')" class="twitter" matTooltip="Follow us on twitter" matTooltipPosition="before">
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    <h2>Twitter</h2>
                </div>
                <div (click)="socialMediaLinks('linkedin')" class="linkedin" matTooltip="Connect with us on LinkedIn" matTooltipPosition="before">
                    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    <h2>LinkedIn</h2>
                </div>

            </div>
            
        </div>
        <div class="terms-privacy">
            <h1>Links</h1>
            <mat-divider></mat-divider>
            <div class="links">
                <a routerLink="terms_of_business">Terms and Condition</a>
                <a routerLink="privacy">Privacy Statement</a>
                <a href="">Cookie Policy</a>
                <a target="blank" matTooltip="Download feedback form" matTooltipPosition="above" href="assets/images/graceland-Questionnaire.pdf">Feedback</a>
            </div>
            <div class="sra-badge">
                <div style="position: relative;padding-bottom: 59.1%;height: auto;overflow: hidden;">
                    <iframe frameborder="0" scrolling="no" allowTransparency="true" src="https://cdn.yoshki.com/iframe/55845r.html" style="border:0px; margin:0px; padding:0px; backgroundColor:transparent; top:0px; left:0px; width:100%; height:100%; position: absolute;"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- <p><mat-icon>email</mat-icon> : admin@gracelandsolicitors.co.uk</p> -->
</section>


