<div class="header-section">
    <div style="background-image: url('assets/images/grace1.jpeg'); width: 100%;" class="header">
        <div class="inner-header">
            <div class="jumbo-text">
                <h1>Expert Lawyers</h1>
                <h3>Practicing Law to the</h3>
                <h3>Highest Standard</h3>
                <button color="primary" mat-raised-button>Get In Touch</button>
            </div>
            <div class="float-image">
                <img src="assets/images/grace2.jpeg" alt="">
            </div>
        </div>
    </div>
</div>
<!-- <button (click)="clearInt()">clearInter</button> -->
<div class="pointer-container">
    <mat-icon id="pointer" (click)="pointerDown()" color="primary">keyboard_arrow_down</mat-icon>
</div>
<section class="about-section container-fluid" id="about">
    <div class="about container">
        <div class="about-image">
            <div class="box-shift"></div>
            <div class="image">
                <img src="assets/images/grace-about.jpeg" alt="">
            </div>
            
        </div>
        <div class="about-text">
            <h1>Welcome to Graceland</h1>
            <p>
                Established since 2006, Graceland solicitors provide a wide range of Legal Services to new and existing clients.
                The key to our success is our honest, practical and top quality legal services delivered through our strong and competent team of legal advisors.
            </p>
            <p>
                Our passion for people is at the heart of everything we do. It’s the engine that keeps us ticking and inspires us to do our best. We’re not satisfied unless we’re making a real difference to people’s lives, and we’ll keep working hard to ensure we get the best outcome possible for our clients.
            </p>
            <button color="primary" mat-raised-button (click)="readMore()">Read More</button>
        </div>
    </div>
</section>
<section id="practice" class="practice-section container-fluid">
    <div class="practice container">
        <div class="title">
            <h1>Area of Practice</h1>
        </div>
        <div class="top-practice">
            <div class="service">
                <!-- <mat-icon>people</mat-icon> -->
                <img src="assets/icons/immigration.png" alt="">
                <h1>Immigration</h1>
                <p>
                    Our Immigration Solicitors are a team of award winning, specialist solicitors, highly experienced in all areas of immigration law. As a fully qualified and accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.
                </p>
            </div>
            <div class="service">
                <!-- <mat-icon>people</mat-icon> -->
                <img src="assets/icons/family.png" alt="">
                <h1>Family/Devorce</h1>
                <p>
                    When a relationship breaks down, emotions can run high and disputes often spiral out of control. When you need to move forward, we’re here to help. We’re one of the UK’s biggest and most experienced family law teams, and can advise on issues affecting every kind of family – including divorce, matters involving children and wealth protection.
                </p>
            </div>
            <div class="service">
                <!-- <mat-icon>people</mat-icon> -->
                <img src="assets/icons/cuff.png" alt="">
                <h1>Crime</h1>
                <p>
                    We are one of the top law firm that provides a premium service for senior professionals, high net worth individuals and their families.  We are adept at managing the press where necessary but we also act efficiently and discreetly on many cases that are kept entirely out of the public eye.
                </p>
            </div>
        </div>
        <div class="lower-practice">
            <div class="other-practice-info">
                <!-- <mat-icon>clear</mat-icon> -->
                <fa-icon [icon]="['fab', 'affiliatetheme']"></fa-icon>
                <h1>Area of Practice</h1>
                <!-- <mat-divider></mat-divider> -->
                <p>
                    Our Immigration Solicitors are a team of award winning, specialist solicitors, highly experienced in all areas of immigration law. As a fully qualified and accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.
                </p>
                <div style="background-image: url('assets/icons/law.png')" class="law-balance">
                    <h3>We Can Represent you</h3>
                </div>
            </div>
            <div class="other-service">
                <div class="service1">
                    <img src="assets/icons/housing.png" alt="">
                    <h1>Housing</h1>
                    <p>accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.</p>
                </div>
                <div class="service2">
                    <img src="assets/icons/biz-medium.png" alt="">
                    <h1>Benefit</h1>
                    <p>accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.</p>
                    
                </div>
            </div>
            <div class="other-service">
                <div class="service1">
                    <img src="assets/icons/driver.png" alt="">
                    <h1>Traffic Offence</h1>
                    <p>accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.</p>
                    
                </div>
                <div class="service2">
                    <img src="assets/icons/chat.png" alt="">
                    <h1>Employment</h1>
                    <p>accredited law firm, delivering a global service, we will fully represent your case in close partnership with you.</p>
                    
                </div>
            </div>
        </div>
    </div>
</section>

<section id="culture" class="our-culture-section container-fluid">
    <div class="our-culture container">
        <div class="principal-image">
            <div class="image">
                <img src="assets/icons/lynn-okoro.png" alt="">
            </div>
            <div class="box-shift"></div>
            <div class="social-culture">
                <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
            </div>
        </div>
        <div class="principal-comment">
            <h1>Our Culture</h1>
            <mat-divider></mat-divider>
            <p>
                We understand that we are part of key moments in your life, whether these are connected to a company acquisition or sale, a change in your relationships, a marriage or divorce, Immigration issues, your expansion into a new area, or the purchase of a new home.
            </p>
            <div class="principal-position">
                <h3>Lynn Okoro</h3>
                <h4>Principal</h4>
            </div>


        </div>
    </div>
</section>
<section id="contact" class="contact-section container-fluid">
    <div class="contact container">
        <div class="lewisham">
            <h1>Lewisham Office</h1>
            <mat-divider></mat-divider>
            <h5>315 Lewisham High Street</h5>
            <h5>London</h5>
            <h5>SE13 6NL</h5>
            <div matTooltip="Call for any enquiry" matTooltipPosition="above" class="number">
                <mat-icon>call_end</mat-icon>
                <h5>+44  20 8314 5770</h5>
            </div>
            <div matTooltip="Send us fax" class="number">
                <mat-icon>file_copy</mat-icon>
                <h5>+44 20 8314 5771</h5>
            </div>
            
            <h5>DX: 56605-Lewisham</h5>
            <div class="email">
                <mat-icon>email</mat-icon> 
                <p>admin@gracelandsolicitors.co.uk</p>
            </div>
           
        </div>
        <div class="woolwich">
            <h1>Woolwich Office</h1>
            <mat-divider></mat-divider>
            <h5>15 Beresford Square</h5>
            <h5>London</h5>
            <h5>SE18 6AY</h5>
            <div matTooltip="Call for any enquiry" matTooltipPosition="above" class="number">
                <mat-icon>call_end</mat-icon>
                <h5>+44 20 8836 9350</h5>
            </div>
            <div matTooltip="Send us fax" class="number">
                <mat-icon>file_copy</mat-icon>
                <h5>+44 20 8836 9351</h5>
            </div>
            <div matTooltip="Call out of hour phone" class="number">
                <mat-icon>mobile_friendly</mat-icon>
                <h5>+44 796 1052 026</h5>
            </div>
            <!-- <h5><mat-icon>call_end</mat-icon> : +44  20 8836 9350</h5>
            <h5><mat-icon>file_copy</mat-icon> : +44 20 8836 9351</h5>
            <h5><mat-icon>mobile_friendly</mat-icon> : +44 796 1052 026</h5> -->
            <!-- <p>Email: admin@gracelandsolicitors.co.uk</p> -->
        </div>
        <div class="social-media">
            <h1>Follow Us</h1>
            <mat-divider></mat-divider>
            <div class="social">
                <div class="facebook" matTooltip="Like us on facebook" matTooltipPosition="after">
                    <fa-icon [icon]="['fab', 'facebook']"></fa-icon>
                    <h2>Facebook</h2>
                </div>
                <div class="twitter" matTooltip="Follow us on twitter" matTooltipPosition="right">
                    <fa-icon [icon]="['fab', 'twitter']"></fa-icon>
                    <h2>Twitter</h2>
                </div>
                <div class="linkedin" matTooltip="Connect with us on LinkedIn" matTooltipPosition="right">
                    <fa-icon [icon]="['fab', 'linkedin']"></fa-icon>
                    <h2>LinkedIn</h2>
                </div>

            </div>
            
        </div>
    </div>
    <!-- <p><mat-icon>email</mat-icon> : admin@gracelandsolicitors.co.uk</p> -->
</section>
